.cart-toggle-flex{
    height: 4.5rem;
    width: 12rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.cart-size{
    font-size: 3rem;
    display: flex;
    align-items: center;
    margin: .1rem .5rem;
    justify-content: center;
      padding: .3rem;
    box-sizing: border-box;
}
.cart-col{
    background-color: lightgray;
}