.filcol{
    padding:2rem 0;
     box-sizing:border-box;
     width:100%,
   }
   .coldflex{
    display: flex;
    flex-wrap: wrap;
   }
  .ColbtnSize{
    width:2.5rem;
    height:2.5rem;
    color:rgb(118, 109, 109);
    font-size:1.5rem;
    padding: 0;
    border-radius: 50%;

  } 
  .colbtnAll{
    background-color: transparent;
    color: black;
  }
  .ticksize{
    width:2.1rem;
    height: 2.1rem;
    margin: 0;
    font-size: 10px; 
    /* background-color: rgb(189, 23, 164); */

  }
  .compcol{
    background-color: rgb(166, 163, 163);
    /* color:red */
    border-radius: 2px;
  }
  .filrangecol{
    background-color: aqua;
    color: aqua;
    /* height: 10rem; */
    font-size: 10rem;
    /* width: 10rem; */
  }