.container{
    width:95%;
    min-height:35rem; 
    margin: auto;
    background-color: rgb(231, 226, 226);
    /* display: flex;
    flex-wrap: wrap; */
}
.prod-view-flex{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: flex-start;
}
.filter-view{
    min-width: 16rem;
    min-height:40rem;
    background-color: yellow;
display: flex;
justify-content: flex-start;
flex-direction: column;
padding: 1rem;

}
.product-view{
    width:75%;
    background-color: rgb(210, 210, 104);
display: flex;
flex-direction: column;
min-height:40rem;
justify-content: flex-start;
align-items: flex-start;
}
.product-fil-top{
    width: 100%;
    min-height: 8rem;
    background-color: violet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
   padding: 2rem;
}
.product-cont{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}


@media (max-width:800px){
    .filter-view{
      min-width: 16rem;
        width:75%;
        min-height:10rem;
        background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    box-sizing: border-box;
    }
}
.actback{
    background-color: grey;
}