.sing-Pro-navg{
    height:3.5rem;
    font-size: 3.2rem;
    background-color: rgb(220, 220, 218);
    font-weight: 600;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 3rem;
    box-shadow: 1px 1px 3px rgb(167, 166, 166);
}
span{
    font-size: 3rem;
}
.container{
    width:95%;
    min-height:30rem; 
    margin: auto;
    background-color: rgb(231, 226, 226);
 
}
.sing-cont-pro{
min-height: 50rem;
/* background-color: aquamarine; */
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
.sing-cont-data{
    margin:1rem;
    width: 47rem;
    min-height:48rem;
    /* background-color: wheat; */
    display: flex;
    /* padding: .2rem; */
    /* border: 1px solid black; */
}
.img-p{
    display: flex;
    /* flex-direction:row-reverse; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.sing-img-pre{
width:15rem;
/* background-color: violet; */
display: flex;
flex-direction: column;
padding: 1rem;
align-items: center;
justify-content: center;
}

.sing-img-pre-box{
    width:15rem;
   height:12rem;
       /* background-color: rgb(145, 125, 98); */
    /* border:1px solid black; */
    margin: .2rem;
    margin: .2rem;
}
.sing-img-pre-box img{
    width:15rem;
   height:12rem;
}
.sing-img-pre-main{
    width:30rem;
    /* background-color: rgb(103, 46, 103); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.sing-img-pre-box-main{
    width:30rem;
   height: 30rem;
       /* background-color: antiquewhite; */
    /* border:1px solid black; */
    margin: .5rem;
    
}
.img-main img{
    width:30rem;
   height: 30rem;
}

.sing-pro-data-con{
    display: flex;
    flex-direction: column;
    margin:.5rem;  
      padding: 1.2rem 1rem;
      box-sizing: border-box;
    font-size: 1.5rem;
   
}
.text-trans{
    text-transform: uppercase;
}
p, del{
    margin: 0;
    font-size: 1.5rem;
    padding: .5rem 0;
}
.distjus{
    padding: .5rem 0;
    text-align: justify;
}

span{
    font-size: 2rem;
}
.sing-pro-icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sing-icon-pad{
width:10rem;
font-size: 1.3rem;
box-sizing: border-box;
    padding: 1rem 2rem;

}
.hrcol{
    background-color:black;
     border: 1px solid black;
}
