.text-size-1 {
    font-size: 7rem;
    font-weight: 500;

}

.text-size-2 {
    font-size: 3rem;
    line-height: 6rem;

}

.text-pad {
    padding: 3rem;
}

.btnshow {
    padding: 1.5rem 2rem;
    color: whitesmoke;
    background-color: rgb(40, 172, 224);
    font-weight: 600;
    border-radius: 5px;
    margin: 1rem 0;
}

.btnshow:hover {
    background-color: aqua;
    color: blue;
}